body {
    background-color: #cdcdcd;
    background: url('Hibiscus-bg-grey.png');
    height: 100%;
    width: 100%;
    color: black;
    letter-spacing: 8px;
    font-size: 18px;
    font-weight: lighter;
    font-family: 'Sanchez', serif;
    text-align: left;
}
a {
    text-decoration: none;
    color: black;
}
.GOR {
    position: fixed;
    text-align: center;
    left: 0%;
    bottom: 0%;
}
img {
    width: 100%;
}
input {
    height: inherit;
    width: 77%;
    margin: 0% 0.5% 0% 0%;
    padding: 1px;
    font-size: 100%;
    border: 1px solid black;
    background-color: rgba(255,255,255,0);
    font: inherit;
    letter-spacing: inherit;
    float: left;
    display: inline-block;
}
.button {
    height: inherit;
    width: 20%;
    font-size: 100%;
    border: 1px solid black;
    background-color: rgba(255,255,255,0);
    font: inherit;
    letter-spacing: inherit;
    display: inline-block;
    -webkit-appearance: none;
}
.email .facebook .instagram .soundcloud {
    position: fixed;
    margin: 0 auto;
    font-size: 100%;
    border: 1px solid black;
    background-color: rgba(255,255,255,0);
    font: inherit;
    letter-spacing: inherit;
    display: inline-block;
}

@media only screen and (max-width: 800px) {
    body {
        
    }
}
@media only screen and (max-width: 400px) {
    body {
        
        background-position: center;
        width: 100%;
        height: 100%;
    }
    .logo {
        max-width: 90%;
    }
    body {
        
    }
}
