body {
    background-color: #cdcdcd;
    background: url('Hibiscus-bg-grey.png');
    height: 100%;
    width: 100%;
    margin: 0 auto;
    color: black;
    letter-spacing: 3px;
    font-family: 'Sanchez', serif;
    text-align: center;
}
a {
    text-decoration: none;
    color: black;
}
img {
    text-align: center;
}
.logo {
    size: 60%;
    display: block;
    margin: auto;
}
