body {
    background-color: #cdcdcd;
    background: url('Hibiscus-bg-grey.png');
    background-size: 100%;
    margin: 0 auto;
    color: black;
}
img {
    display: block;
    margin: auto;
}
nav {
    border: 2px solid black;
    margin: 0 auto;
    padding: 20px;
}
a {
    color: black;
    font-family: arial, narrow;
}
logo {
    width: 60%;
    border: 2px solid black;
    text-align: center;
}
